# Valuation Visualization Analysis

---

## Using Financial Modeling Prep API

https://financialmodelingprep.com/developer/docs/

In [1]:
import requests
import pandas as pd
import numpy as np
from dotenv import load_dotenv
from pathlib import Path
import os
import time
import json

#David
#env_path = Path(r'C:\Users\david\Dropbox\Learning\Northwestern\Project1\.env')
#Marshall
env_path = Path('/Users/marshallwolfe/Desktop') / '.env'
#env_path = Path(r'C:\Users\Metin\Documents\nufintech\.env')
#Amrita
#env_path = Path(r'C:\Users\Metin\Documents\nufintech\.env')

load_dotenv(env_path)
api_key = os.getenv('FINANCIAL_MODELING_API_KEY')

In [2]:
# Confirm if load_dotenv worked. Remove this later!
load_dotenv()

True

In [3]:
ticker_path = Path('Resources/dow_tickers.csv')

In [9]:
# Tickers DOW, DIS, WBA have incomplete data for the last 10 years

tickers_df = pd.read_csv(ticker_path, header=None)
tickers = list(tickers_df[0].values)
dow_is_df = pd.DataFrame()
date_list = []
ticker_list = []
revenue_list = []
eps_list = []
shares_outstanding_list = []

pd.options.display.float_format = '{:,.0f}'.format

for year in range(2):

    for ticker_name in tickers:

        url = f"https://financialmodelingprep.com/api/v3/income-statement/{ticker_name}?apikey={api_key}"
        requests.get(url).content
        parsed = json.loads(requests.get(url).content)
        
        try:
            date_list.append(parsed[year]['date'])
        except:
            date_list.append(np.nan)
            
        ticker_list.append(ticker_name)
            
        try:
            revenue_list.append(parsed[year]['revenue'])
        except:
            revenue_list.append(np.nan)
            
        try:
            eps_list.append(parsed[year]['eps'])
        except:
            eps_list.append(np.nan)

        try:
            shares_outstanding_list.append(parsed[year]['weightedAverageShsOut'])
        except:
            shares_outstanding_list.append(np.nan)
    
dict1 = {'Date': date_list, 'Ticker': ticker_list, 'Revenue': revenue_list, 'EPS': eps_list, 'Shares Outstanding': shares_outstanding_list}
dow_is_df = pd.DataFrame(dict1)

In [10]:
pd.set_option('display.max_rows',600)
dow_is_df

          Date Ticker         Revenue  EPS  Shares Outstanding
0   2019-12-31    MMM  32,136,000,000    8         577,000,000
1   2019-12-31    AXP  43,556,000,000    8         828,000,000
2   2019-09-28   AAPL 260,174,000,000   12       4,617,834,000
3   2019-12-31     BA  76,559,000,000   -1         565,400,000
4   2019-12-31    CAT  53,800,000,000   11         561,600,000
5   2019-12-31    CVX 146,516,000,000    2       1,882,000,000
6   2019-07-27   CSCO  51,904,000,000    3       4,419,000,000
7   2019-12-31    DOW  42,951,000,000   -2         742,500,000
8   2019-12-31    XOM 264,938,000,000    3       4,270,000,000
9   2019-12-31     GS  36,546,000,000   21         371,600,000
10  2019-12-31    IBM  77,147,000,000   11         887,235,105
11  2019-12-28   INTC  71,965,000,000    5       4,417,000,000
12  2019-12-29    JNJ  82,059,000,000    6       2,645,100,000
13  2019-12-31    JPM 115,627,000,000   11       3,221,500,000
14  2019-12-31    MCD  21,076,500,000    8         758,100,000
15  2019-12-31    MRK  46,840,000,000    4       2,565,000,000
16  2019-06-30   MSFT 125,843,000,000    5       7,673,000,000
17  2019-05-31    NKE  39,117,000,000    3       1,579,700,000
18  2019-12-31    PFE  51,750,000,000    3       5,569,000,000
19  2019-06-30     PG  67,684,000,000    1       2,503,600,000
20  2019-12-31    RTX  54,004,000,000    6         854,800,000
21  2019-12-31     KO  37,266,000,000    2       4,276,000,000
22  2020-02-02     HD 110,225,000,000   10       1,093,000,000
23  2019-12-31    TRV  31,581,000,000   10         260,000,000
24  2019-09-28    DIS  69,570,000,000    7       1,656,000,000
25  2019-12-31    UNH 242,155,000,000   15         951,000,000
26  2019-12-31     VZ 131,868,000,000    5       4,138,000,000
27  2019-09-30      V  22,977,000,000    5       1,742,000,000
28  2019-08-31    WBA 136,866,000,000    4         921,500,000
29  2020-01-31    WMT 523,964,000,000    5       2,850,000,000
30  2018-12-31    MMM  32,765,000,000    9         588,500,000
31  2018-12-31    AXP  40,338,000,000    8         856,000,000
32  2018-09-29   AAPL 265,595,000,000   12       4,955,377,000
33  2018-12-31     BA 101,127,000,000   18         579,200,000
34  2018-12-31    CAT  54,722,000,000   10         591,400,000
35  2018-12-31    CVX 166,339,000,000    8       1,897,000,000
36  2018-07-28   CSCO  49,330,000,000    0       4,837,000,000
37         NaN    DOW             nan  nan                 nan
38  2018-12-31    XOM 290,212,000,000    5       4,270,000,000
39  2018-12-31     GS  36,616,000,000   26         385,400,000
40  2018-12-31    IBM  79,591,000,000   10         912,048,072
41  2018-12-29   INTC  70,848,000,000    5       4,611,000,000
42  2018-12-30    JNJ  81,581,000,000    6       2,681,500,000
43  2018-12-31    JPM 109,029,000,000    9       3,396,400,000
44  2018-12-31    MCD  21,025,200,000    8         778,200,000
45  2018-12-31    MRK  42,294,000,000    2       2,664,000,000
46  2018-06-30   MSFT 110,360,000,000    2       7,700,000,000
47  2018-05-31    NKE  36,397,000,000    1       1,623,800,000
48  2018-12-31    PFE  53,647,000,000    2       5,872,000,000
49  2018-06-30     PG  66,832,000,000    4       2,529,300,000
50  2018-12-31    RTX  66,501,000,000    7         800,400,000
51  2018-12-31     KO  31,856,000,000    2       4,259,000,000
52  2019-02-03     HD 108,203,000,000   10       1,137,000,000
53  2018-12-31    TRV  30,282,000,000    9         267,400,000
54         NaN    DIS             nan  nan                 nan
55  2018-12-31    UNH 226,247,000,000   12         963,000,000
56  2018-12-31     VZ 130,863,000,000    4       4,128,000,000
57  2018-09-30      V  20,609,000,000    4       1,792,000,000
58  2018-08-31    WBA 131,537,000,000    5         991,000,000
59  2019-01-31    WMT 514,405,000,000    2       2,929,000,000